<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-info">
                <h1 class="text-center"><?= ($result == true) ? $this->translate('Your account has been activated!') : $this->translate('Activation hash is invalid.') ?></h1>
                <p class="text-center"><a href="/login" class="btn btn-primary">Log in</a></p>
            </div>
        </div>
    </div>
</div>