<div class="container">
    <div class="row">
        <div class="col-md-5 sign-up">
            <?= $this->form()->openTag($this->registrationForm); ?>
            <fieldset>

                <!-- Form Name -->
                <legend><strong><?= $this->translate('Sign Up')?></strong></legend>

                <!-- Text input-->
                <div class="form-group">
                    <div>
                        <?= $this->formLabel($this->registrationForm->get('login')); ?>
                        <?= $this->formElement($this->registrationForm->get('login')); ?>
                        <?= $this->formElementErrors($this->registrationForm->get('login')); ?>
                    </div>
                </div>

                <!-- Password input-->
                <div class="form-group">
                    <div>
                        <?= $this->formLabel($this->registrationForm->get('password')); ?>
                        <?= $this->formElement($this->registrationForm->get('password')); ?>
                        <?= $this->formElementErrors($this->registrationForm->get('password')); ?>
                    </div>
                </div>

                <div class="form-group">
                    <?= $this->formLabel($this->registrationForm->get('re-password')); ?>
                    <?= $this->formElement($this->registrationForm->get('re-password')); ?>
                    <?= $this->formElementErrors($this->registrationForm->get('re-password')); ?>
                </div>

                <div class="form-group">
                    <?= $this->formLabel($this->registrationForm->get('firstname')); ?>
                    <?= $this->formElement($this->registrationForm->get('firstname')); ?>
                    <?= $this->formElementErrors($this->registrationForm->get('firstname')); ?>
                </div>

                <div class="form-group">
                    <?= $this->formLabel($this->registrationForm->get('lastname')); ?>
                    <?= $this->formElement($this->registrationForm->get('lastname')); ?>
                    <?= $this->formElementErrors($this->registrationForm->get('lastname')); ?>
                </div>

                <div class="form-group">
                    <?= $this->formLabel($this->registrationForm->get('age')); ?>
                    <?= $this->formElement($this->registrationForm->get('age')); ?>
                    <?= $this->formElementErrors($this->registrationForm->get('age')); ?>
                </div>

                <div class="form-group">
                    <?= $this->formLabel($this->registrationForm->get('gender')); ?>
                    <?= $this->formElement($this->registrationForm->get('gender')); ?>
                    <?= $this->formElementErrors($this->registrationForm->get('gender')); ?>
                </div>

                <div class="form-group">
                    <?= $this->formLabel($this->registrationForm->get('company')); ?>
                    <?= $this->formElement($this->registrationForm->get('company')); ?>
                    <?= $this->formElementErrors($this->registrationForm->get('company')); ?>
                </div>

                <div class="form-group">
                    <?= $this->formLabel($this->registrationForm->get('position')); ?>
                    <?= $this->formElement($this->registrationForm->get('position')); ?>
                    <?= $this->formElementErrors($this->registrationForm->get('position')); ?>
                </div>

                <div class="form-group">
                    <?= $this->formLabel($this->registrationForm->get('type_account')); ?>
                    <?= $this->formElement($this->registrationForm->get('type_account')); ?>
                    <?= $this->formElementErrors($this->registrationForm->get('type_account')); ?>
                </div>

                <!-- Button -->
                <div class="form-group">
                    <div>
                        <button type="button" id="registration-form-submit" class="btn btn-primary"><?= $this->translate('Sign Up')?></button>
                        <button type="button" id="login-button" class="btn btn-primary" style="margin-left: 20px;"><?= $this->translate('Back to log In')?></button>
                    </div>
                </div>
            </fieldset>
            <?= $this->form()->closeTag(); ?>
        </div>

        <div class="col-md-5 log-in">
            <?= $this->form()->openTag($this->loginForm); ?>
            <fieldset>

                <!-- Form Name -->
                <legend><strong><?= $this->translate('Log In')?></strong></legend>

                <!-- Text input-->
                <div class="form-group">
                    <div>
                        <?= $this->formLabel($this->loginForm->get('login')); ?>
                        <?= $this->formElement($this->loginForm->get('login')); ?>
                        <?= $this->formElementErrors($this->loginForm->get('login')); ?>
                    </div>
                </div>

                <!-- Password input-->
                <div class="form-group">
                    <div>
                        <?= $this->formLabel($this->loginForm->get('password')); ?>
                        <?= $this->formElement($this->loginForm->get('password')); ?>
                        <?= $this->formElementErrors($this->loginForm->get('password')); ?>
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        <?= $this->formLabel($this->loginForm->get('remember_me')); ?>
                        <?= $this->formElement($this->loginForm->get('remember_me')); ?>
                    </div>
                </div>
                <div class="login-error form-group alert alert-danger" style="display:none;"></div>
                <!-- Button -->
                <div class="form-group">
                    <div>
                        <button type="button" id="login-form-submit" class="btn btn-primary"><?= $this->translate('Log In')?></button>
                        <button type="button" id="sign-up-button" class="btn btn-primary" style="margin-left: 20px;"><?= $this->translate('Create account')?></button>
                    </div>
                </div>
            </fieldset>
            <?= $this->form()->closeTag(); ?>
        </div>
    </div>
</div>

<script>
        $('.sign-up').hide();
        $('#sign-up-button').click(function(){
            $('.sign-up').show();
            if ($('.sign-up').show()) {
                $('.log-in').hide();
            }
        });
        $('#login-button').click(function(){
            $('.log-in').show();
            if ($('.log-in').show()) {
                $('.sign-up').hide();
            }
        });

        $("#registration-form-submit").on("click", function (e) {
            e.preventDefault();
            $("#registration-form .form-error").hide(200);
            $("#registration-form .form-error").remove();
            $.ajax({
                method: "POST",
                url: '/user/add',
                data: $("#registration-form").serialize(),
                success: function (data) {
                    if (data.success) {
                        swal({
                            title: '<?php echo $this->translate("Good job!")?>',
                            text: '<?php echo $this->translate("Account has been created. You can now log in");?>',
                            type: 'success',
                            showCancelButton: false,
                            confirmButtonColor: '#3085d6',
                            confirmButtonText: 'OK'
                        }).then(function () {
                            window.location.reload();
                        })
                    } else if(data.messages) {
                        swal({
                            text: '<?=$this->translate("User with that email address already exists")?>',
                            type: 'error',
                            showCancelButton: false,
                            confirmButtonColor: '#3085d6',
                            confirmButtonText: 'OK'
                        });
                        $.each(data.errors, function (k, v) {
                            $('#registration-form').find('input[name="' + k + '"]').parent().append('<div class="form-error" style="display: none"><i class="fa fa-exclamation-triangle"></i> ' + Object.values(v) + '</div>');
                            $('#registration-form').find('select[name="' + k + '"]').parent().append('<div class="form-error" style="display: none"><i class="fa fa-exclamation-triangle"></i> ' + Object.values(v) + '</div>');
                        });
                        $("#registration-form .form-error").show(200);
                    } else {
                        $.each(data.errors, function (k, v) {
                            $('#registration-form').find('input[name="' + k + '"]').parent().append('<div class="form-error" style="display: none"><i class="fa fa-exclamation-triangle"></i> ' + Object.values(v) + '</div>');
                            $('#registration-form').find('select[name="' + k + '"]').parent().append('<div class="form-error" style="display: none"><i class="fa fa-exclamation-triangle"></i> ' + Object.values(v) + '</div>');
                        });
                        $("#registration-form .form-error").show(200);
                    }
                }
            })
        });

        $("#login-form-submit").on("click", function () {
            $("#login-form .form-error").hide(200);
            $("#login-form .form-error").remove();
            $.ajax({
                method: "POST",
                url: '/login',
                data: $("#login-form").serialize(),
                success: function (data) {
                    if (data.success) {
                        window.location.href = '/user/training-Cycle';
                    } else {
                        if (data.errors.constructor === Object) {
                            $.each(data.errors, function (k, v) {
                                $('#login-form').find('input[name="' + k + '"]').parent().append('<div class="form-error" style="display: none"><i class="fa fa-exclamation-triangle"></i> ' + Object.values(v) + '</div>');
                            });
                        } else {
                            $('#login-form').find('.login-error').html('<i class="fa fa-exclamation-triangle"></i> ' + data.errors[0]).show(200);
                        }
                        $("#login-form .form-error").show(200);
                    }
                }
            })
        });
</script>
