<div class="container">
    <div class="row">
        <div class="col-md-5 sign-up">
            <?= $this->form()->openTag($this->profile_form); ?>
            <fieldset>

                <!-- Form Name -->
                <legend><strong>Profile Settings</strong></legend>

                <div class="form-group">
                    <?= $this->formLabel($this->profile_form->get('firstname')); ?>
                    <?= $this->formElement($this->profile_form->get('firstname')); ?>
                </div>

                <div class="form-group">
                    <?= $this->formLabel($this->profile_form->get('lastname')); ?>
                    <?= $this->formElement($this->profile_form->get('lastname')); ?>
                </div>

                <div class="form-group">
                    <?= $this->formLabel($this->profile_form->get('age')); ?>
                    <?= $this->formElement($this->profile_form->get('age')); ?>
                </div>

                <div class="form-group">
                    <?= $this->formLabel($this->profile_form->get('gender')); ?>
                    <?= $this->formElement($this->profile_form->get('gender')); ?>
                </div>

                <div class="form-group">
                    <?= $this->formLabel($this->profile_form->get('company')); ?>
                    <?= $this->formElement($this->profile_form->get('company')); ?>
                </div>

                <div class="form-group">
                    <?= $this->formLabel($this->profile_form->get('position')); ?>
                    <?= $this->formElement($this->profile_form->get('position')); ?>
                </div>

                <!-- Button -->
                <div class="form-group">
                    <div>
                        <button type="button" id="update-profile" class="btn btn-primary">Save changes</button>
                        <button type="button" id="logout" class="btn btn-primary" style="margin-left: 20px;">Logout</button>
                    </div>
                </div>
            </fieldset>
            <?= $this->form()->closeTag(); ?>
        </div>
        <div class="col-md-7 text-center">
            <h1 style="padding-top: 10%; line-height: 1.5em">If you want to continue,<br>you must fill your profile!</h1>
            <div id="message" class="alert alert-danger" style="margin: 20px 60px" hidden>
                <h3 style="line-height: 1.2em"><strong>Something is wrong!</strong><br>Check your profile settings.</h3>
            </div>
        </div>
    </div>
</div>

<script>

        $("#update-profile").bind('click', function () {

            $('#message').hide('100');
            $.ajax({
                method: "POST",
                url: "/user/profile",
                data: {
                    action: 'update',
                    data: $('#registration-form').serialize()
                }
            })
                .success(function (val) {
                    if(val.success == false)
                        $('#message').show('200');
                    else
                        window.location.href = "/user/trainingCycle";
                });

        });


</script>
