<div class="container">
    <div class="row">
        <h3 class="text-2x"><?=$this->translate('My profile')?></h3>
    </div>
    <div class="row">
        <div><?= $this->user->getFirstname() . ' ' . $this->user->getLastname() ?></div>
        <div><?= $this->translate('Gender')?>: <?= $this->user->getGender() ?></div>
        <div><?= $this->translate('Age')?>: <?= $this->user->getAge() ?></div>
        <div><?= $this->translate('Country')?>: <?= $this->user->getCompany() ?></div>
        <div><?= $this->translate('Position')?>: <?= $this->user->getPosition() ?></div>
    </div>
</div>

