<?php
/**
 * Created by PhpStorm.
 * User: ktomasik
 * Date: 28.08.2017
 * Time: 15:46
 */
$accountType = $this->arr2;
$typeAcc = '';
foreach ($accountType as $account) {
    $typeAcc = $account;
}
$progress = [];
if ($typeAcc == 'User') {
    $key = [];
    $tcId ='';
    foreach ($this->usr as $k) {
        $tcId = $k->getTc()->getId();
        $key[$tcId] = $k->getTc()->getBlocked();
        if (isset($key[$tcId]) && $key[$tcId] == '[1,1,1,1]') {
            $progress[$tcId] = 0;
        } elseif (isset($key[$tcId]) && $key[$tcId] == '[0,1,1,1]') {
            $progress[$tcId] = 1;
        } elseif (isset($key[$tcId]) && $key[$tcId] == '[0,0,1,1]') {
            $progress[$tcId] = 2;
        } elseif (isset($key[$tcId]) && $key[$tcId] == '[0,0,0,1]') {
            $progress[$tcId] = 3;
        } elseif (isset($key[$tcId]) && $key[$tcId] == '[0,0,0,0]') {
            $progress[$tcId] = 4;
        }
    }
}

if ($typeAcc == 'Manager') {
    $managerProg = [];
    $manTc = '';
    foreach ($this->user->getTc() as $tca) {
        $manTc = $tca->getId();
        $managerProg[$manTc] = $tca->getBlocked();
        if (isset($managerProg[$manTc]) && $managerProg[$manTc] == '[1,1,1,1]') {
            $progress[$manTc] = 0;
        } elseif (isset($managerProg[$manTc]) && $managerProg[$manTc] == '[0,1,1,1]') {
            $progress[$manTc] = 1;
        } elseif (isset($managerProg[$manTc]) && $managerProg[$manTc] == '[0,0,1,1]') {
            $progress[$manTc] = 2;
        } elseif (isset($managerProg[$manTc]) && $managerProg[$manTc] == '[0,0,0,1]') {
            $progress[$manTc] = 3;
        } elseif (isset($managerProg[$manTc]) && $managerProg[$manTc] == '[0,0,0,0]') {
            $progress[$manTc] = 4;
        }
    }
}

?>
<div class="container">
    <div class="row">
        <h3><?= $this->translate('My Training Cycle')?>
            <?php
            if($typeAcc == 'Manager') {
                echo '<button type="button" class="btn btn-success" id="newtc-btn">'. $this->translate("Add new").'</button>';
            }
            ?>
        </h3>
        <div class="col-md-10" id="newtc" style="display: none;">
            <div class="col-md-5">
                <?= $this->form()->openTag($this->tcForm); ?>
                <fieldset>
                    <!-- Text input-->
                    <div class="form-group">
                        <div>
                            <?= $this->formLabel($this->tcForm->get('name')); ?>
                            <?= $this->formElement($this->tcForm->get('name')); ?>
                            <?= $this->formElementErrors($this->tcForm->get('name')); ?>
                        </div>
                    </div>

                    <!-- Password input-->
                    <div class="form-group">
                        <div>
                            <?= $this->formLabel($this->tcForm->get('description')); ?>
                            <?= $this->formElement($this->tcForm->get('description')); ?>
                            <?= $this->formElementErrors($this->tcForm->get('description')); ?>
                        </div>
                    </div>

                    <div class="form-group">
                        <?= $this->formLabel($this->tcForm->get('dateFrom')); ?>
                        <?= $this->formElement($this->tcForm->get('dateFrom')); ?>
                        <?= $this->formElementErrors($this->tcForm->get('dateFrom')); ?>
                    </div>

                    <div class="form-group">
                        <?= $this->formLabel($this->tcForm->get('dateTo')); ?>
                        <?= $this->formElement($this->tcForm->get('dateTo')); ?>
                        <?= $this->formElementErrors($this->tcForm->get('dateTo')); ?>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                        <div>
                            <button type="button" id="tc-form-submit" class="btn btn-primary"><?=$this->translate('Submit');?></button>
                        </div>
                    </div>

                </fieldset>
                <?= $this->form()->closeTag(); ?>

            </div>

        </div>
    </div>
    <?php if($typeAcc == 'Manager') {

        foreach ($this->user->getTc() as $tc): ?>
            <div class="row">
                <div class="col-md-12 tc" data-id="<?= $tc->getId() ?>">
                    <p><i class="fa fa-cubes fa-lg" aria-hidden="true"></i> <strong><?= $tc->getName() ?></strong>
                        &nbsp;&nbsp;
                        <span class="tc-info">
                <span class="tc-progress"><i class="fa fa-line-chart" aria-hidden="true"></i>
                     <?= $this->translate('Progress')?>: <small><?= $progress[$tc->getId()];?>/4</small></span>
                        <span class="tc-date"><i class="fa fa-calendar" aria-hidden="true"></i> &nbsp;<small><?= $tc->getDateFrom() ?></small> &rarr;
                        <small><?= $tc->getDateTo() ?></small>
                        </span>
                    </span>
                    </p>
                </div>
            </div>
        <?php endforeach;
    } else {
        foreach ($this->usr as $tc): ?>

            <div class="row">
                <div class="col-md-12 tc" data-id="<?= $tc->getTc()->getId() ?>">
                    <p><i class="fa fa-cubes fa-lg" aria-hidden="true"></i> <strong><?= $tc->getTc()->getName() ?></strong>

                        <span class="tc-info">
                <span class="tc-progress"><i class="fa fa-line-chart" aria-hidden="true"></i>
                     &nbsp;<?= $this->translate('Progress')?>: <small><?= $progress[$tc->getTc()->getId()];?>/4</small></span>
                        <span class="tc-date"><i class="fa fa-calendar" aria-hidden="true"></i> &nbsp;<small><?= $tc->getTc()->getDateFrom() ?></small> &rarr;
                        <small><?= $tc->getTc()->getDateTo() ?></small>
                        </span>
                    </span>
                </p>
            </div>
        </div>
        <?php endforeach;
    }?>
</div>
