<?php

$q = json_decode($this->survey->getQuestions(), true);

$userAnswers = json_decode($this->survey_answers, true);

$purpose = '';
$ep = '';
$recipient = '';
switch ($this->survey->getLevel()) {
    case 1:
        $purpose = 'Reaction, Satisfaction, & Planned Action';
        $ep = 'directly after finishing the module';
        $recipient = 'trainee';
        break;
    case 2:
        $purpose = 'Learning';
        $ep = '1 day after training';
        $recipient = 'trainee';
        break;
    case 3:
        $purpose = 'Behavior';
        $ep = '4 weeks after the training';
        $recipient = 'trainee + collegues';
        break;
    case 4:
        $purpose = 'Results';
        $ep = '4 months after training';
        $recipient = 'trainee + collegues + manager';
        break;
}

?>

<div class="container">
    <?php if ($this->identity) { ?>
    <div class="row">
        <a class="btn btn-primary" href="/survey/get/<?= $this->trainingCycle->getId() ?>">&laquo; <?= $this->translate('Back to Training Cycle');?></a>
    </div>
    <?php } ?>
    <div class="row">
        <h2><?=$this->translate('Training cycle');?>: <?= $this->trainingCycle->getName() ?></h2>
        <h5><?= $this->trainingCycle->getDescription(); ?></h5>
        <?php if (!$this->identity) {
            echo '<div class="alert alert-warning">'.$this->translate("This training cycle belongs to ") . $this->trainingCycle->getUser()->getFirstname() . ' ' . $this->trainingCycle->getUser()->getLastname() .
                '. '.$this->translate("Thanks for filling in the questionnaire!").'</div>';
        }
        ?>
    </div>
    <hr/>
    <div class="row">
        <h4><?= $this->translate($this->survey->getTitle()) ?></h4>
        <h5><?= $this->translate($this->survey->getDescription()) ?></h5>
    </div>

    <div class="row">

        <div class="row well" style="background-color: rgba(0,0,0,0.5)">
            <div class="col-md-12">
                <h1><?= $this->translate($purpose) ?></h1>
                <form class="form-inline" method="post" id="survey-form">
                    <input type="hidden" name="tcId" value="<?= $this->trainingCycle->getId() ?>">
                    <input type="hidden" name="surveyId" value="<?= $this->survey->getId() ?>">
                    <input type="hidden" name="byInvitation" value="<?= $this->byInvitation ?>">
                    <table class="table">
                        <?php if ($this->survey->getLevel() == 1 OR $this->survey->getLevel() == 4) {
                            $answerGiven = false;
                            ?>
                            <tr>
                                <th><?=$this->translate('Question')?></th>
                                <th><?=$this->translate('Answer')?></th>
                            </tr><?php
                            $hml = '';
                            $aNo = 1;
                            for ($i = 0; $i<4; $i++) {
                                $hml .= '<tr><td>' . $this->translate($q[$i]) . '</td>';
                                $hml .= '<td><fieldset>';
                                    for ($j = 1; $j<6; $j++) {
                                        $hml .= '<div class="form-group"><label class="radio-inline" style="padding-left: 30px;">';

//                                        $answerGiven = false;
                                        if (isset($userAnswers['input-' . $aNo ]) && $j == $userAnswers['input-' . $aNo ]) {
                                            $answerGiven = true;
                                        }
                                        if($answerGiven == true) {
                                            $hml .= '<input type="radio" id="inlineRadio1" onclick="return false"' . ($answerGiven ? 'checked="checked"' : '') .'name="input-' . $aNo . '" value="' . $j . '">' . $j .' </label></div>';

                                        } else {
                                            $hml .= '<input type="radio" id="inlineRadio1" name="input-' . $aNo . '" value="' . $j . '">' . $j . ' </label></div>';
                                        }
                                    }
                                $hml .= '</fieldset></td>';
                                $aNo++;
                                $hml .= '</tr>';
                            }
                            echo $hml;
                             if ($answerGiven == false) {
                                 echo '<tr>
                                <td>'. $this->translate("Comments").'</td>
                                <td style="padding-right:0px;!important;"><fieldset><textarea class="form-control" rows="3" name="comments[]"></textarea></fieldset></td>
                            </tr>';
                             }

                        } elseif ($this->survey->getLevel() == 2) {
                            $sNo = 1;
                            foreach ($q as $section => $questions) {
                                echo '<table class="table">';
                                echo '<br><h3>' . $this->translate($section) . '</h3>';
                                echo '<tr><th>'.$this->translate("Question").'</th><th style="padding-left: 80px;">'.$this->translate("Answer").'</th></tr>';
                                $qNo = 1;
                                foreach ($questions as $question) {
                                    echo '<tr>';

                                    foreach ($question as $questionName => $answers) {
                                        echo '<td>' . $this->translate($questionName) . '</td>';
                                        echo '<td><fieldset class="radio-inline">';
                                        $aNo = 1;
                                        foreach ($answers as $answer) {
                                            echo '<label class="radio-inline" style="margin-right: 25px; padding-left: 0px; margin-left: 0px;">';
                                            $answerGiven = false;
                                            if (isset($userAnswers['input-' . $sNo . '-' . $qNo]) && in_array($aNo, $userAnswers['input-' . $sNo . '-' . $qNo])) {
                                                $answerGiven = true;
                                            }
                                            if ($answerGiven == true) {
                                                echo '<input type="checkbox" onclick="return false" id="inlineRadio1" ' . ($answerGiven ? 'checked="checked"' : '') . ' name="input-' . $sNo . '-' . $qNo  . '" value="' . $aNo . '">' . ' ' . $this->translate(key($answer)) . '</label>';
                                            } else {
                                                echo '<input type="checkbox" id="inlineRadio1" name="input-' . $sNo . '-' . $qNo . '[]' . '" value="' . $aNo . '">' . ' ' . $this->translate(key($answer)) . '</label>';
                                            }
                                            $aNo++;
                                        }
                                        echo '</fieldset></td>';
                                    }
                                    echo '</tr>';
                                    $qNo++;
                                }
                                $sNo++;
                            }
                            echo '<tr><td colspan="2" style="border-top:none;"></td></tr>';
                            if ($answerGiven == false) {
                                echo '<tr>
                                <td>'.$this->translate("Comments").'</td>
                                <td style="padding-right:0px;!important;"><fieldset><textarea class="form-control"  rows="3" cols="75" name="comments[]"></textarea></fieldset></td>
                            </tr>';
                            }
                            echo '</table>';
                         }  elseif ($this->survey->getLevel() == 3) {
                            $sNo = 1;
                            foreach ($q as $section => $questions) {
                                echo '<table class="table">';
                                echo '<br><h3>' . $this->translate($section) . '</h3>';
                                echo '<tr><th>'. $this->translate("Question").'</th><th style="padding-left: 80px;">'. $this->translate("Answer").'</th></tr>';
                                foreach ($questions as $question) {
                                    echo '<tr>';
                                    foreach ($question as $questionName => $answers) {
                                        echo '<td>' . $this->translate($questionName) . '</td>';
                                        echo '<td>';
                                        $lengt = count($answers);
                                        if ($lengt == 1) {
                                            echo '</br><fieldset>' . $answers[0] . ' ';
                                            for ($j = 1; $j <= 5; $j++) {
                                                $answerGiven = false;
                                                if (isset($userAnswers['input-' . $sNo . '-1']) && $j == $userAnswers['input-' . $sNo . '-1']) {
                                                    $answerGiven = true;
                                                }
                                                if($answerGiven == true) {
                                                    echo '<label class="radio-inline"><input type="radio" onclick="return false" id="inlineRadio1"' . ($answerGiven ? 'checked="checked"' : '') . 'name="input-' . $sNo . '-1' . '" value="' . $j . '">' . $j . '</label>';
                                                } else {
                                                    echo '<label class="radio-inline"><input type="radio" id="inlineRadio1" name="input-' . $sNo . '-1' . '" value="' . $j . '">' . $j . '</label>';
                                                }
                                            }
                                            echo '</fieldset>';
                                        } else {
                                            for ($i = 1; $i < 5; $i++) {
                                                echo '</br><fieldset>' . $this->translate($answers[$i]) . ' ';
                                                for ($j = 1; $j <= 5; $j++) {
                                                    $answerGiven = false;
                                                    if (isset($userAnswers['input-' . $sNo . '-' . $i]) && $j == $userAnswers['input-' . $sNo . '-' . $i]) {
                                                        $answerGiven = true;
                                                    }
                                                    if($answerGiven == true) {
                                                        echo '<label class="radio-inline"><input type="radio" onclick="return false" id="inlineRadio1"' . ($answerGiven ? 'checked="checked"' : '') . 'name="input-' . $sNo . '-' . $i . '" value="' . $j . '">' . $j . '</label>';
                                                    } else {
                                                        echo '<label class="radio-inline"><input type="radio" id="inlineRadio1" name="input-' . $sNo . '-' . $i . '" value="' . $j . '">' . $j . '</label>';
                                                    }
                                                }
                                                echo '</fieldset>';
                                            }
                                        }
                                        echo '</td>';
                                    }
                                    echo '</tr>';
                                }
                                $sNo++;
                            }
                            echo '<tr><td colspan="2" style="border-top:none;"></td></tr>';
                            if($answerGiven == false) {
                                echo '<tr>
                                <td>'.$this->translate("Comments").'</td>
                                <td style="padding-right:0px;!important;"><fieldset><textarea class="form-control" rows="3" name="comments[]"></textarea></fieldset></td>
                            </tr>';
                            }
                            echo '</table>';
                            }?>
                    </table>
                    <div class="text-center">
                        <?php
                        if ($answerGiven == false) {
                            echo '<button type="button" class="btn btn-primary" id="survey-form-submit">'. $this->translate("Submit") .'</button>';
                        }
                        ?>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
