<?php
$accountType = $this->arr2;
$typeAcc = '';
foreach ($accountType as $account) {
    $typeAcc = $account;
}
?>
<div class="container">
    <div class="row">
        <a class="btn btn-primary" href="/user/trainingCycle">&laquo; <?=$this->translate('Back to the Training Cycle');?></a>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h3 class="text-center"><?= $this->trainingCycle->getName() ?></h3>
            <div class="text-center">
                <p class="label label-primary"><?= $this->trainingCycle->getDateFrom() . ' &rarr; ' . $this->trainingCycle->getDateTo() ?></p>
            </div>
            <p><?= $this->trainingCycle->getDescription() ?></p>
            <?php
            if($typeAcc == 'Manager') {
                echo '<div class="row" style="margin-bottom: 30px;">
                        <button type="button" class="btn btn-success" id="newtc-btn">'.$this->translate("Invite users").'</button>
                      </div>';

                echo '<div class="row" style="margin-bottom: 30px;">
                <div class="col-md-4" id="newtc" style="display: none;">' .
                    $this->form()->openTag($this->usrForm) .
                    '<fieldset>
                        <div class="form-group">' .
                    $this->formElement($this->usrForm->get('tcId')->setAttribute('value', $this->trainingCycle->getId())) .
                    $this->formLabel($this->usrForm->get('userMail')) .
                    $this->formElement($this->usrForm->get('userMail')) .
                    $this->formElementErrors($this->usrForm->get('userMail')) .
                    '</div>
                        <div class="form-group">
                            <div>
                                <button type="button" id="usrAdd-form-submit" class="btn btn-primary">'.$this->translate("Submit").'</button>
                            </div>
                        </div>
                    </fieldset>' .
                    $this->form()->closeTag() .
                    '</div>
            </div>';
            }
            ?>

            <div class="row">
                <a class="btn btn-primary" href="/report/show/<?= $this->trainingCycle->getId();?>" ><?= $this->translate('Your Answers');?> &raquo;</a>
                <a class="btn btn-primary" href="/report/table/<?= $this->trainingCycle->getId();?>" ><?= $this->translate('Statistics');?> &raquo;</a>
                <a class="btn btn-primary" href="/report/chart/<?= $this->trainingCycle->getId();?>" ><?= $this->translate('Results');?> &raquo;</a>
                <a class="btn btn-primary" href="/report/chartUser/<?= $this->trainingCycle->getId();?>" ><?= $this->translate('Results (by country)');?> &raquo;</a>
            </div>
            <?php if($typeAcc == 'Manager'): ?>
                <div id="block-panel" class="row" style="margin-top: 25px;">
                    <div class="col-xs-12">
                        <button class="unblock btn btn-success" data-id="0"><?= $this->translate('Unblock First Survey') ?></button>
                        <button class="unblock btn btn-success" data-id="1"><?= $this->translate('Unblock Second Survey') ?></button>
                        <button class="unblock btn btn-success" data-id="2"><?= $this->translate('Unblock Third Survey') ?></button>
                        <button class="unblock btn btn-success" data-id="3"><?= $this->translate('Unblock Fourth Survey') ?></button>
                    </div>
                </div>
            <?php endif; ?>

            <ul class="timeline">
                <?php
                $i = 1;
                foreach ($this->surveys as $s):?>

                    <li <?= ($i & 1 ? '' : 'class="timeline-inverted"') ?>>
                        <div class="timeline-image" data-level-id="<?= $i ?>">

                            <?php if ($i == 1) {
                                echo '<img class="img-circle img-responsive" src = "/img/1.png" alt = "">';
                            } elseif ($i == 2) {
                                echo '<img class="img-circle img-responsive" src = "/img/2.png" alt = "">';
                            } elseif ($i == 3) {
                                echo '<img class="img-circle img-responsive" src = "/img/3.png" alt = "">';
                            } elseif ($i == 4) {
                                echo '<img class="img-circle img-responsive" src = "/img/4.png" alt = "">';
                            }?>

                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4><strong><?= $this->translate($s->getTitle()) ?></strong></h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted"><?= $this->translate($s->getDescription()) ?></p>
                                <?php
                                if ($i == 4) {
                                    echo '<h4><strong>'. $this->translate("Survey invitation link").'</strong></h4>';
                                    echo '<small>'. $this->translate("Send this link to your manager").'</small>';
                                    $url = '<pre>';
                                    $url .= '<a style="color: black;" href="http://';
                                    $url .= $_SERVER['SERVER_NAME'] . '/survey/invitation/';
                                    $url .= $this->trainingCycle->getId();
                                    $url .= '/4/';
                                    $url .= $this->trainingCycle->getMInvitation();
                                    $url .= '" target="_blank">';
                                    $url .= $_SERVER['SERVER_NAME'] . '/survey/invitation/' . $this->trainingCycle->getId() . '/4/';
                                    $url .= $this->trainingCycle->getMInvitation() . '</a>';
                                    $url .= '</pre>';

                                    echo $url;
                                }
                                ?>

                            </div>
                        </div>
                        <?php $i++; ?>
                        <div <?= (count($this->surveys) == $i ? '' : 'class="line"') ?>></div>
                    </li>
                <?php endforeach; ?>
            </ul>
        </div>

    </div>
    <div class="row">
        <a class="btn btn-primary" href="/report/show/<?= $this->trainingCycle->getId();?>" ><?= $this->translate('Your Answers')?> &raquo;</a>
        <a class="btn btn-primary" href="/report/table/<?= $this->trainingCycle->getId();?>" ><?= $this->translate('Statistics')?> &raquo;</a>
        <a class="btn btn-primary" href="/report/chart/<?= $this->trainingCycle->getId();?>" ><?= $this->translate('Results')?> &raquo;</a>
        <a class="btn btn-primary" href="/report/chartUser/<?= $this->trainingCycle->getId();?>"><?= $this->translate('Results (by country)')?> &raquo;</a>
    </div>
</div>

<script>

    $("#usrAdd-form-submit").on("click", function () {
        $.ajax({
            method: "POST",
            url: '/survey/addNewUsers',
            data: $("#usr-form").serialize(),
            success: function (data) {
                if (data.errors.constructor === Object) {
                    var values = '';
                    $.each(data.errors, function (k, v) {
//                        console.log(Object.values(v));
                        values +=Object.values(v);
                    });
                    swal ({
                        text: values,
                        confirmButtonColor: '#3085d6',
                        confirmButtonText: 'OK'
                    }).then(function() {
                        window.location.reload();
                    })
                } else {
                    swal ({
                        text: data.errors[0],
                        confirmButtonColor: '#3085d6',
                        confirmButtonText: 'OK'
                    })
                }
            }
        });
    });


    var blockButtonValues = <?= $this->trainingCycle->getBlocked() ?>;

    function setButtonsToBlockSurvey(blockButtonValues) {

        $("#block-panel button.unblock").each(function (index) {
            switch( blockButtonValues[index] ) {
                case 0: $(this).addClass('disabled')
                    .attr('disabled', true);
                    break;
                case 1: break;
                case 2: $(this).addClass('disabled')
                    .attr('disabled', true)
                    .text('Survey is closed');
                    break;
            }
        });

        $(".timeline-image").each(function () {

            var dataLevelId = $(this).attr("data-level-id");
            var dataId = $(this).find(".lock").attr("data-id");
            if( blockButtonValues[ parseInt(dataLevelId)-1] !== 1) {
                $(this).on("click", function () {
                    window.location = window.location.pathname + "/" + dataLevelId;
                });
                $(this).children('img').attr('src', '/img/'+ dataLevelId +'.png');
            } else
                $(this).children('img').attr('src', '/img/block.png');

        });
    }

    setButtonsToBlockSurvey(blockButtonValues);


    $("#block-panel button.unblock:not(.disabled)").bind('click', function () {
        var btn = $(this);
        if( blockButtonValues[ parseInt( btn.attr('data-id') ) ] === 1)
            $.ajax({
                method: "POST",
                url: "/survey/unblock",
                data: {
                    id: $(this).attr('data-id'),
                    tcid: <?= $this->trainingCycle->getId() ?>
                },
                success: function($val){
                    blockButtonValues[ parseInt( btn.attr('data-id') ) ] = 0;
                    setButtonsToBlockSurvey(blockButtonValues);
                }
            })
    });

</script>
