<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>InMinds</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/simple-line-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap.datepicker-fork/1.6.4/css/bootstrap-datepicker.min.css">

    <!-- Theme CSS -->
    <link href="/css/new-age.css" rel="stylesheet">
    <link href="/css/inminds.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.6/sweetalert2.min.css" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.jsdelivr.net/g/respond@1.4.2,html5shiv@3.7.3"></script>
    <![endif]-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.js" integrity="sha256-N2Q5nbMunuogdOHfjiuzPsBMhoB80TFONAfO7MLhac0=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

    <script src="https://rawgit.com/chartjs/chartjs-plugin-annotation/master/chartjs-plugin-annotation.js"></script>



</head>
<style>
    .bootstrap-select {
        margin-top: 8px;
        width: auto!important;
    }
</style>
<body id="page-top">

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="/#page-top">InMinds</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="/#features"><strong><?= $this->translate('Features');?></strong></a>
                </li>
                <!--<li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>-->
                <li>
                <?php if($this->identity() !== null): ?>
                    <li>
                        <a href="/user/profile"><strong><?= $this->translate('Profile');?></strong></a>
                    </li>
                    <li>
                        <a href="/user/trainingCycle"><strong><?= $this->translate('Training Cycle');?></strong></a>
                    </li>
                    <li>
                        <a href="/logout"><strong><?= $this->translate('Log Out');?></strong></a>
                    </li>
                <?php else: ?>
                        <a class="page-scroll" href="/login"><strong><?= $this->translate('Log In');?></strong></a>
                    </li>
                <?php endif; ?>
                <li>
                    <select id="languageElement" class="selectpicker" name="lang">
                        <option value="en"><?=$this->translate('English')?></option>
                        <option value="pl"><?=$this->translate('Polish')?></option>
                        <option value="de"><?=$this->translate('German')?></option>
                        <option value="el"><?=$this->translate('Greek')?></option>
                    </select>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<div class="inminds-container">
    <?= $this->content; ?>
</div>
<footer>
    <div class="container">
        <div class ="col-md-4">
            <img src="/img/eu_flag_erasmusmu.png" />
        </div>
        <div class="col-md-8" style="margin-top: 10px;">
            <p style="margin-top: 37px;"><?= $this->translate('Co-funded by the Erasmus+ Programme of the European Union. This publication reflects the views only of the author, and the Commission cannot be held responsible for any use which may be made of the information contained therein.')?></p>
        </div>
        <div class="col-md-12">
            <p>&copy; <?= date('Y'); ?> InMinds. <?= $this->translate('All Rights Reserved.')?></p>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/g/jquery@2.2.4,bootstrap@3.3.7,jquery.easing@1.3(jquery.easing.1.3.min.js),bootstrap.datepicker-fork@1.6.4"></script>

<!-- Theme JavaScript -->
<script type="text/javascript" src="/js/new-age.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.6/sweetalert2.js"></script>
<!-- Inminds JavaScript -->
<script type="text/javascript" src="/js/inminds.js?<?= uniqid(); ?>"></script>

</body>

</html>

<script>

    $("#languageElement").val("<?= isset($_SESSION['lang']) ? $_SESSION['lang']['lang'] : 'en'?>");

        $('select[name="lang"]').change(function () {
            var lang = $(this).val();
            $.ajax({
                type: 'POST',
                url: '/application/langSwitch',
                data: {lang: lang},
                dataType: 'html'

            }).success(function () {
                    window.location.reload();

            });
        });

</script>