<?php
/**
 * Created by PhpStorm.
 * User: ktomasik
 * Date: 18.08.2017
 * Time: 08:57
 */
$answered = false;

?>

<div class="container">
    <div class="row">
        <a class="btn btn-primary" href="/survey/get/<?= $this->trainingCycle->getId(); ?>">&laquo; <?=$this->translate('Back to Training Cycle')?></a>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h3 class="text-center"><?=$this->translate('Your Answers')?></h3>
            <ul class="timeline">
                <?php
                $i = 1;
                foreach ($this->surveys as $s): ?>

                    <li <?= ($i & 1 ? '' : 'class="timeline-inverted"') ?>>
                        <div class="timeline-image" data-level-id="<?= $i ?>">

                            <?php if ($i == 1) {
                                echo '<img class="img-circle img-responsive" src = "/img/1.png" alt = "" >';
                            } elseif ($i == 2) {
                                echo '<img class="img-circle img-responsive" src="/img/2.png" alt="">';
                            } elseif ($i == 3) {
                                echo '<img class="img-circle img-responsive" src="/img/3.png" alt="">';
                            } elseif ($i == 4) {
                                echo '<img class="img-circle img-responsive" src="/img/4.png" alt="">';
                            }?>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4><strong><?= $this->translate($s->getTitle()) ?></strong></h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted"><?= $this->translate($s->getDescription()) ?></p>
                            </div>
                        </div>
                        <?php $i++; ?>
                        <div <?= (count($this->surveys) == $i ? '' : 'class="line"') ?>></div>
                    </li>
                <?php endforeach; ?>
            </ul>
        </div>
    </div>

</div>

<script>

    var blockButtonValues = <?= $this->trainingCycle->getBlocked() ?>;

    function setButtonsToBlockSurvey(blockButtonValues) {

        $("#block-panel button.unblock").each(function (index) {
            switch( blockButtonValues[index] ) {
                case 0: $(this).addClass('disabled')
                    .attr('disabled', true);
                    break;
                case 1: break;
                case 2: $(this).addClass('disabled')
                    .attr('disabled', true)
                    .text('Survey is closed');
                    break;
            }
        });

        $(".timeline-image").each(function () {

            var dataLevelId = $(this).attr("data-level-id");
            var dataId = $(this).find(".lock").attr("data-id");
            if( blockButtonValues[ parseInt(dataLevelId)-1] !== 1) {
                $(this).on("click", function () {
                    window.location = window.location.pathname + "/" + dataLevelId;
                });
                $(this).children('img').attr('src', '/img/'+ dataLevelId +'.png');
            } else
                $(this).children('img').attr('src', '/img/block.png');

        });
    }

    setButtonsToBlockSurvey(blockButtonValues);


    $("#block-panel button.unblock:not(.disabled)").bind('click', function () {
        var btn = $(this);
        if( blockButtonValues[ parseInt( btn.attr('data-id') ) ] === 1)
            $.ajax({
                method: "POST",
                url: "/survey/unblock",
                data: {
                    id: $(this).attr('data-id'),
                    tcid: <?= $this->trainingCycle->getId() ?>
                },
                success: function($val){
                    blockButtonValues[ parseInt( btn.attr('data-id') ) ] = 0;
                    setButtonsToBlockSurvey(blockButtonValues);
                }
            })
    });

</script>