<?php
/**
 * Created by PhpStorm.
 * User: ktomasik
 * Date: 18.08.2017
 * Time: 12:34
 */

foreach ($this->survey_answers as $allAnswer) {

    $countryAge[$allAnswer->getUser()->getCompany()][$allAnswer->getUser()->getAge()][$allAnswer->getUser()->getLogin()] = [];
    $countryPosition[$allAnswer->getUser()->getCompany()][$allAnswer->getUser()->getPosition()][$allAnswer->getUser()->getLogin()] = [];

    $byAge[$allAnswer->getUser()->getAge()][] = $allAnswer->getUser();
    $byCountry[$allAnswer->getUser()->getCompany()][] = $allAnswer->getUser();
    $byPosition[$allAnswer->getUser()->getPosition()][] = $allAnswer->getUser();
}
?>


<div class="container">
    <div class="row">
        <a class="btn btn-primary" href="/survey/get/<?= $this->trainingCycle->getId(); ?>">&laquo; <?=$this->translate('Back to Training Cycle')?></a>
    </div>
    <div class="row">
        <table class="table">
            <h3><?= $this->translate('Total Answered Questionnaires')?></h3>
            <tr>
                <td><?= count($this->survey_answers); ?></td>
            </tr>
        </table>
        <table class="table">
                <h3><?=$this->translate('Answered questionnaires Breakdown by age')?></h3>
            <tr>
                <th>18 - 27</th>
                <th>28 - 37</th>
                <th>38 - 47</th>
                <th>48 - 57</th>
                <th>58 <</th>
            </tr>
            <?php
            echo '<tr>';
                    echo '<td>' . (isset($byAge['18 - 27']) ? count($byAge['18 - 27']) : '0') . '</td>';
                    echo '<td>' . (isset($byAge['28 - 37']) ? count($byAge['28 - 37']) : '0') . '</td>';
                    echo '<td>' . (isset($byAge['38 - 47']) ? count($byAge['38 - 47']) : '0') . '</td>';
                    echo '<td>' . (isset($byAge['48 - 57']) ? count($byAge['48 - 57']) : '0') . '</td>';
                    echo '<td>' . (isset($byAge['58 <']) ? count($byAge['58 <']) : '0') . '</td>';
            echo '</tr>';
            ?>
        </table>
        <table class="table">
                <h3><?= $this->translate('Answered questionnaires Breakdown by position')?></h3>
            <tr>
                <th><?= $this->translate('Administration')?></th>
                <th><?= $this->translate('General Management')?></th>
                <th><?= $this->translate('Management')?></th>
                <th><?= $this->translate('Production')?></th>
                <th><?= $this->translate('Sales')?></th>
            </tr>
            <tr><?php
                echo '<tr>';
                echo '<td>' . (isset($byPosition['Administration']) ? count($byPosition['Administration']) : '0') . '</td>';
                echo '<td>' . (isset($byPosition['General Management']) ? count($byPosition['General Management']) : '0') . '</td>';
                echo '<td>' . (isset($byPosition['Management']) ? count($byPosition['Management']) : '0') . '</td>';
                echo '<td>' . (isset($byPosition['Production']) ? count($byPosition['Production']) : '0') . '</td>';
                echo '<td>' . (isset($byPosition['Sales']) ? count($byPosition['Sales']) : '0') . '</td>';
                echo '</tr>';
                ?>
            </tr>
        </table>
        <table class="table">
                <h3><?= $this->translate('Answered questionnaires Breakdown by Country')?></h3>
            <tr>
                <th><?= $this->translate('Germany')?></th>
                <th><?= $this->translate('Greece')?></th>
                <th><?= $this->translate('Italy')?></th>
                <th><?= $this->translate('Poland')?></th>
                <th><?= $this->translate('UK')?></th>
            </tr>
            <?php
                echo '<tr>';
                echo '<td>' . (isset($byCountry['Germany']) ? count($byCountry['Germany']) : '0') . '</td>';
                echo '<td>' . (isset($byCountry['Greece']) ? count($byCountry['Greece']) : '0') . '</td>';
                echo '<td>' . (isset($byCountry['Italy']) ? count($byCountry['Italy']) : '0') . '</td>';
                echo '<td>' . (isset($byCountry['Poland']) ? count($byCountry['Poland']) : '0') . '</td>';
                echo '<td>' . (isset($byCountry['UK']) ? count($byCountry['UK']) : '0') . '</td>';
                echo '</tr>';
                ?>
        </table>
        <table class="table">
                <h3><?= $this->translate('Age By Country')?></h3>
            <tr>
                <th></th>
                <th>18 - 27</th>
                <th>28 - 37</th>
                <th>38 - 47</th>
                <th>48 - 57</th>
                <th>58 <</th>

            </tr>
                <?php
                if (!isset($countryAge)) {
                    echo '<tr><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td></tr>';
                }else {
                    foreach ($countryAge as $country => $v) {
                        echo '<tr>';
                        echo '<td><strong>' . $country . '</strong></td>';
                        echo '<td>' . (isset($v['18 - 27']) ? count($v['18 - 27']) : '0') . '</td>';
                        echo '<td>' . (isset($v['28 - 37']) ? count($v['28 - 37']) : '0') . '</td>';
                        echo '<td>' . (isset($v['38 - 47']) ? count($v['38 - 47']) : '0') . '</td>';
                        echo '<td>' . (isset($v['48 - 57']) ? count($v['48 - 57']) : '0') . '</td>';
                        echo '<td>' . (isset($v['58 <']) ? count($v['58 <']) : '0') . '</td>';
                        echo '</tr>';
                    }
                }

                ?>
        </table>
        <table class="table">
            <h3><?= $this->translate('Position by country')?></h3>
            <tr>
                <th></th>
                <th><?= $this->translate('Administration')?></th>
                <th><?= $this->translate('General Management')?></th>
                <th><?= $this->translate('Management')?></th>
                <th><?= $this->translate('Production')?></th>
                <th><?= $this->translate('Sales')?></th>
            </tr>
            <?php
            if(!isset($countryPosition)) {
                echo '<tr><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td></tr>';
            } else {
                foreach ($countryPosition as $country => $v) {
                    echo '<tr>';
                    echo '<td><strong>' . $country . '</strong></td>';
                    echo '<td>' . (isset($v['Administration']) ? count($v['Administration']) : '0') . '</td>';
                    echo '<td>' . (isset($v['General Management']) ? count($v['General Management']) : '0') . '</td>';
                    echo '<td>' . (isset($v['Management']) ? count($v['Management']) : '0') . '</td>';
                    echo '<td>' . (isset($v['Production']) ? count($v['Production']) : '0') . '</td>';
                    echo '<td>' . (isset($v['Sales']) ? count($v['Sales']) : '0') . '</td>';
                    echo '</tr>';
                }
            }

            ?>
        </table>

    </div>
</div>
<?php



