<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1><?=$this->translate('InMinds is a skills development methodology for the Printing (publishing) Sector facilitated by a training course and a tracking (skills retention) tool.');?></h1>
                        <a href="/login" class="btn btn-outline btn-xl page-scroll"><?= $this->translate('Start Now for Free!')?></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="device-container">
                    <img src="/img/gauge.svg" class="img-responsive" alt="">
                </div>
            </div>
        </div>
    </div>
</header>

<section id="download" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading"><?= $this->translate('Discover what all the buzz is about!')?></h2>
                <p><?= $this->translate('Our application is ready! Register now to get started!')?></p>
                <!--<div class="badges">
                    <a class="badge-link" href="#"><img src="img/google-play-badge.svg" alt=""></a>
                    <a class="badge-link" href="#"><img src="img/app-store-badge.svg" alt=""></a>
                </div>-->
            </div>
        </div>
    </div>
</section>

<section id="features" class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h2><?= $this->translate('Unlimited Features, Unique Approach')?></h2>
                    <p><?= $this->translate('Check out what you can do with InMinds Barometer!')?></p>
                    <hr>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="feature-item">
                    <img src="/img/banner1.png" alt="" />
                    <h3><?= $this->translate('Benefits')?></h3>
                    <p><?= $this->translate('Receive personalised training to achieve transformation from traditional operations to new media era, expand and retain customer base, learn about digital media Dos & Don\'ts, increase productivity, gain competitiveness in a Web-driven world and more!')?>'</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="feature-item">
                    <img src="/img/banner2.png" alt="" />
                    <h3><?= $this->translate('Digital Printing')?></h3>
                    <p><?= $this->translate('Are you active in the printing sector? InMinds platform provides you with valuable knowledge and knowhow on digital printing techniques in demand today.')?></p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="feature-item">
                    <img src="/img/banner3.png" alt="" />
                    <h3><?= $this->translate("How to's")?></h3>
                    <p><?= $this->translate("Access the InMinds platform and learn how to operate new technology equipment, analyze problems, make decisions, work cooperatively and enjoy a clearer understanding of the entire printing production process.")?></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="feature-item">
                    <img src="/img/banner4.png" alt="" />
                    <h3><?= $this->translate('Skills Retention')?></h3>
                    <p><?= $this->translate("Use the InMinds tracking tool to assess performances / choices on the field after the training, to reinforce new habits and brush up on acquired knowledge in order to improve performance.")?></p>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="cta">
    <div class="cta-content">
        <div class="container">
            <h2><?= $this->translate('Stop waiting.<br>Start using.')?></h2>
            <a href="/login" class="btn btn-outline btn-xl page-scroll"><?= $this->translate('Let\'s Get Started!')?></a>
        </div>
    </div>
    <div class="overlay"></div>
</section>

<!--<section id="contact" class="contact bg-primary">
    <div class="container">
        <h2>We <i class="fa fa-heart"></i> new friends!</h2>
        <ul class="list-inline list-social">
            <li class="social-twitter">
                <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="social-facebook">
                <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li class="social-google-plus">
                <a href="#"><i class="fa fa-google-plus"></i></a>
            </li>
        </ul>
    </div>
</section>-->
