<div class="inminds-container">
    <div class="container">

<div class="row well panel-bar" style="background-color: rgba(0,0,0,0.5)">
    <div class="col-md-2">
        <a href="#"><i class="fa fa-info-circle"></i> Info</a>
    </div>
    <div class="col-md-4">
        <i class="fa fa-history"></i> Training cycles
    </div>
    <div class="col-md-4">
        <i class="fa fa-pie-chart"></i> Results
    </div>
</div>

<?php

$q = '<label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 1
        </label>
        <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 2
        </label>
        <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 3
        </label>
        <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4"> 4
        </label>
        <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio5" value="option5"> 5
        </label>';
$q2 = '<textarea></textarea>';

?>

<div class="row well" style="background-color: rgba(0,0,0,0.5)">
    <div class="col-md-12">
        <h1>Reaction, Satisfaction & Planned Action</h1>
        <form class="form-inline">
            <table class="table">
                <tr><th>Question</th><th>Answer</th></tr>
                <tr><td>What is your overall assessment of the program?</td><td><?= $q ?></td></tr>
                <tr><td>Was the teaching method effective?</td><td><?= $q ?></td></tr>
                <tr><td>Was the program relevant to your needs?</td><td><?= $q ?></td></tr>
                <tr><td>Was the content appropriate?</td><td><?= $q ?></td></tr>
                <tr><td>Comments</td><td><?= $q2 ?></td></tr>
            </table>

        </form>
    </div>
</div>

        </div>
    </div>
<?php
/*
<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>InMinds is a skills development methodology for the Printing (publishing) Sector facilitated by a training course and a tracking (skills retention) tool.
                        </h1>
                        <a href="#download" class="btn btn-outline btn-xl page-scroll">Start Now for Free!</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="device-container">
                    <img src="img/gauge.svg" class="img-responsive" alt="">
                </div>
            </div>
        </div>
    </div>
</header>

<section id="download" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Discover what all the buzz is about!</h2>
                <p>Our app is available on any mobile device! Download now to get started!</p>
                <div class="badges">
                    <a class="badge-link" href="#"><img src="img/google-play-badge.svg" alt=""></a>
                    <a class="badge-link" href="#"><img src="img/app-store-badge.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="features" class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h2>Unlimited Features, Unlimited Fun</h2>
                    <p class="text-muted">Check out what you can do with this app theme!</p>
                    <hr>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="feature-item">
                    <img src="img/banner1.png" alt="" />
                    <h3>Benefits</h3>
                    <p class="text-muted">Receive personalised training to achieve transformation from traditional operations to new media era, expand and retain customer base, learn about digital media Dos & Don'ts, increase productivity, gain competitiveness in a Web-driven world and more!</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="feature-item">
                    <img src="img/banner2.png" alt="" />
                    <h3>Digital Printing</h3>
                    <p class="text-muted">Are you active in the printing sector? InMinds platform provides you with valuable knowledge and knowhow on digital printing techniques in demand today.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="feature-item">
                    <img src="img/banner3.png" alt="" />
                    <h3>How to's</h3>
                    <p class="text-muted">Access the InMinds platform and learn how to operate new technology equipment, analyze problems, make decisions, work cooperatively and enjoy a clearer understanding of the entire printing production process.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="feature-item">
                    <img src="img/banner4.png" alt="" />
                    <h3>Skills Retention</h3>
                    <p class="text-muted">Use the InMinds tracking tool to assess performances / choices on the field after the training, to reinforce new habits and brush up on acquired knowledge in order to improve performance.</p>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="cta">
    <div class="cta-content">
        <div class="container">
            <h2>Stop waiting.<br>Start building.</h2>
            <a href="#contact" class="btn btn-outline btn-xl page-scroll">Let's Get Started!</a>
        </div>
    </div>
    <div class="overlay"></div>
</section>

<section id="contact" class="contact bg-primary">
    <div class="container">
        <h2>We <i class="fa fa-heart"></i> new friends!</h2>
        <ul class="list-inline list-social">
            <li class="social-twitter">
                <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="social-facebook">
                <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li class="social-google-plus">
                <a href="#"><i class="fa fa-google-plus"></i></a>
            </li>
        </ul>
    </div>
</section>
*/
?>
