<div class="text-center text-2x">
    <h1><?= $this->translate('Thank you for filling in the questionnaire!')?></h1>
    <br />
    <br />
    <br />
    <a href="/user/profile" class="btn btn-success btn-lg"><?= $this->translate('Get back to the main page')?></a>
</div>
